body {
    background-color: darkslategray;
}

.outer-calc-body {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    height: 700px;
    width: 500px;
    padding: 20px 20px 35px 20px;
    margin: 50px auto;
    border-radius: 65px;
}

.inner-calc-body {
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 89, 99);
    flex: auto;
    border-radius: 25px;
    padding: 20px;
    gap: 70px;
}

#display {
    background-color: cadetblue;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: auto;
}

.functional-buttons {
    background-color: rgba(240, 248, 255, 0.425);
    flex: 1;

}

.math-buttons {
    flex: 4;
    background-color: rgba(255, 0, 0, 0.438);
}