body {
    background-color: darkslategray;
}

.gap {
    gap: 10px;
}

.outer-calc-body {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    height: 700px;
    width: 500px;
    padding: 20px 20px 45px 20px;
    margin: 50px auto;
    border-radius: 65px;
}

.inner-calc-body {
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 89, 99);
    flex: auto;
    border-radius: 25px;
    padding: 20px;
    gap: 70px;
}

#display {
    background-color: cadetblue;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.functional-buttons {
    display: flex; 
    flex-direction: row;
    flex: 1;

}

.math-buttons {
    display: flex;
    flex-direction: row;
    flex: 4;
}
.operation-buttons button {
    background-color: grey;
    color: aliceblue;
}

#left-right-buttons {
    display: flex;
    flex: 1.25;
}

#placeholder {
    flex: 1;
}

#on-of-button {
    display: flex;
    flex: 1;
}

.number-buttons {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.operation-buttons {
    display: flex;
    flex-direction: column;
    flex: 2;
}

button {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
}

.rows {
    display: flex;
    flex: 1;
}